Source: lofipi-mpv
Maintainer: Nicholas Sherlock <n.sherlock@gmail.com>
Build-Depends: debhelper (>= 11), nodejs (>= 12)

Package: lofipi-mpv
Architecture: armhf
Depends: ${misc:Depends}, nodejs, youtube-dl, mpv
Description: Lo-fi music streamer
