#!/usr/bin/make -f

DISTRIBUTION = $(shell sed -n "s/^VERSION_CODENAME=//p" /etc/os-release)
DEB_BUILD_ARCH := $(shell dpkg-architecture -qDEB_BUILD_ARCH)

VERSION = 1.0.0
PACKAGEVERSION = $(VERSION)-0~$(DISTRIBUTION)0
URL = https://nicksherlock.com/

%:
	dh $@

override_dh_auto_build:
	HOME=$(PWD) npm install

override_dh_gencontrol:
	dh_gencontrol -- -v$(PACKAGEVERSION)

override_dh_update_autotools_config:
override_dh_strip:
override_dh_strip_nondeterminism:
override_dh_shlibdeps:
